@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>



@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
  @Html.LabelFor(model => model.Name)

  @Html.TextBoxFor(model => model.Name)
  
  
  // JoinEntities for Eng to Mach
  @* @Html.LabelFor(model => model.Machine)
  @Html.DropDownList("MachineId") *@

  <input type="submit" value="Add new engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>